@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(107, 107, 241);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(46, 46, 46)), url(imagens/fundofem1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
}
menu > h1{
    
    text-align: center;
    color: white;
    padding: 20px;
  
}
menu{ 
    background-color: rgb(173, 216, 230);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    
}
menu > a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}
menu > a:hover{
    color: black;
    transition: 0.6s;
}
menu > a#tec:hover{
    color: rgb(0, 0, 0);
    transition: 0.6s;
}
main{
    background-color: rgb(241, 241, 241);
}

h2{
    padding: 40px 5px 10px;
    font-size: 2em;
}

p{
    margin: 0px 5px;
}

p#resul{
    margin-top: 10px;
}



div.filtro{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    
}

p#filt{
    font-weight: 300;
}

div.filtrar{
    cursor: pointer;
    padding-right: 200px;
    padding-top: 5px;
    border: 1px solid #353535;
   
    border-radius: 50px;
}

div.filtrar > p{
    font-weight: 100;
    font-size: 1em;
    color: rgb(102, 102, 102);
    text-align: left;
   

    
}

.filtro-opcoes {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease; /* Adiciona transição de altura */
    margin-top: 50px;
    margin-right: 20px;
    height: 0; /* Começa com altura 0 */
    width: 230px;
    overflow: hidden; /* Garante que o conteúdo não vaze */
}

div.filtrar:hover{
    transition: 1s;
}

.filtro:hover .filtro-opcoes {
    display: block;
    opacity: 1;
    height: auto; /* Ajusta a altura automaticamente */
    
}



.filtro-opcoes > a.fil {
    display: block; /* Exibe os links em blocos para melhor espaçamento */
  /* Adiciona espaço entre os links */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    background-color: #f0f0f0;
    font-weight: 400;
    opacity: 1;
    transition: 1s;
}
.filtro-opcoes > a.fil:hover {
    color: black;
    width: 100%;
    border-radius: 0px;
    padding-left: 50px;
    transition: 1s;
    transform:  translate(-10px, 0px);
 
}


main > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Alinha os divs ao topo */
    padding: 10px 0px;
    width: 100%;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: none; /* Oculta todos os produtos inicialmente */
  }
  
  .produto.ativo {
    display: block; /* Exibe produtos filtrados */
  }



main > section > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Mantém a imagem centralizada */
    justify-content: start; /* Garante espaço entre imagem e texto */
    
    width: 36%;
    height: 260px;
    
    margin: 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.253);
    transition: 0.8s;
    z-index: 1
}

main > section > div:hover {
    transform:  translate(0px, -10px);
    transition: 1s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.185);
}



div > img {
    width: auto;
    height: 80px;
}

div > a {
    align-self: flex-start; /* Garante que o texto fique alinhado à esquerda */
    font-weight: bold;
    margin-top: auto; /* Empurra o texto para baixo */
    padding: 5px; /* Dá um espaçamento da borda esquerda */
    background-color: rgba(127, 140, 211, 0.205);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

div > h2{
    align-self: flex-start;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 400;
}

div > p{
    align-self: flex-start;
    margin: 3px;
    font-weight: bolder;
    margin-top: 10px;
}

div > span> del{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    margin-right: 18px;
    
    
}


div > a:hover{
    background-color: rgb(240, 118, 185);
    color: white;
    transition: 0.5s;
}
 